<div class="container">
<!-- <div class="row">
<div class="col-md-2">The</div>
<div class="col-md-8"> -->

<%= form_for([video, comment]) do |f| %>
    <p>

      <%= f.text_area :content, cols: 140, rows: 4, placeholder: "What do you think? Post your comment!" %>
    </p>
  <p>
      <%= f.submit 'Post Comment', class: 'btn btn-success btn-lg'%>
      <%= link_to "Cancel", video, class: 'btn btn-default btn-lg' %>
    </p>
<% end %>
<!-- <div class="col-md-2">Thew </div>
</div>
</div> -->
</div>



