<!-- <div class="jumbotron"> -->
  <div class="container">
  <div class="reg">
    <!-- <h1>Metube Video Curator</h1> -->
      <h2><%= pluralize(@videos.size, 'Metube Video')%></h2>
    </div>
  </div>
<!-- </div> -->

<% if @videos.any? %>
  <div class="container">
    <h1>Latest videos</h1>

    <div id="player-wrapper"></div>

    <% @videos.in_groups_of(3) do |group| %>
      <div class="row">
        <% group.each do |video| %>
          <% if video %>
            <div class="col-md-4">
              <div class="mastube_video">
                <iframe width="350" height="330" src="//www.youtube.com/embed/<%= video.youtube_id %>" frameborder="0" allowfullscreen></iframe>

                <div class="caption">
                  <h5><%= link_to video.title, video %></h5>

                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
