<!-- <div class="jumbotron"> -->
  <div class="container">
  <div class="reg">
    <h1>Metube Video Curator</h1>
    <p>
      <%= link_to 'Sign In or Sign Up to Add video', new_video_path, class: 'btn btn-success btn-lg' %>
    </p>
    </div>
  </div>
<!-- </div> -->

<% if @videos.any? %>
  <div class="container">
    <h1>New videos</h1>

    <div id="player-wrapper"></div>

    <% @videos.in_groups_of(3) do |group| %>
      <div class="row">
        <% group.each do |video| %>
          <% if video %>
            <div class="col-md-4">
              <div class="mastube_video">
                <iframe width="350" height="330" src="//www.youtube.com/embed/<%= video.youtube_id %>" frameborder="0" allowfullscreen></iframe>

                <div class="caption">
                  <h4><%= link_to video.title, video %></h4><br>

                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
<div class="more_videos"><%= link_to 'All Videos', videos_all_path, class: 'btn btn-warning' %></div>
  </div>
<% end %>







