/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
body{
  margin: 0;
}
#footer{
  background: #005500;
  height: 50px;
}
#footer p{
  text-align: center;
  padding-top: 10px;
}
.navbar{
  background: #005500;
}
.reg{
  text-align: center;
}
.reg h1{
  color: #005500;
  font-weight: bold;
  font-size: 3.5em;
}
.reg h2{
  color: red;
  font-weight: bold;
  font-size: 3.5em;
}
.show{
  text-align: center;
}
.show iframe{
  width: 70%;
  height: 500px;
}
.show h2{
  color: #CC3333;
}
.show h3{
  color: #005500;
}
.new_video{
  // width: 40%;
  // margin: 0 auto;
  text-align: center;
}
// .container span{
//   width: 200px;
// }
.more_videos {
  text-align: center;
  padding: 20px;
}
.commentform{
  width: 80%;
  height: 40px;
}


// @media screen and (max-width: 768px) and (min-width: 481px) {
//   body {
//     background: #FF6347;
//     color: #FFF;
//   }
// }
//  @media screen and (max-width: 480px) {
//   body {
//     background: #4682B4;
//   }
//  }

